.col {
  width: 33.33%;
  display: inline-block;
}
.container {
  max-width: 100%;
  background: #f4f7f6;
}
.frame {
  height: 100%;
  margin-top: 5%;
}
.title {
  text-align: center;
  margin-top: 5px;
}
.sortclass {
  position: absolute;
  right: 0;
  margin-right: 12px;
}
.text {
  display: inline-block;
}
button {
  background: transparent;
  border: none;
}
.card-title {
  margin-top: 10%;
}
.card {
  margin-top: 10px;
}
button:focus {
  outline: 0;
}
